<section class="footer">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5 class="text-white">Bize Ulaşın</h5>
                    <div class="col-auto">
                        <div class="text-muted">
                            <h6 class="text-white">Adres:</h6>
                            İstanbul Beykent Üniversitesi,Sarıyer/İstanbul
                        </div>
                        <div class="text-muted">
                            <h6 class="text-white">Email:</h6>
                            yasingulsoy02@gmail.com
                        </div>
                        <div class="text-muted">
                            <h6 class="text-white">Telefon:</h6>
                            (0212) 519 59 80
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5 class="text-white">Favori Markalar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Apple</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ASUS</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Huawei</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Monster</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Acer</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5 class="text-white">Favori Kategoriler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">TV & Görüntü & Ses</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Bilgisayar & Tablet</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Spor & Outdoor</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ev & Yaşam</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Saat & Aksesuar</a></li>
                    </ul>
                </div>

                <div class="col-md-4 offset-md-1 mb-3">
                    <form>
                        <h5 class="text-white">Bültene Kayıt Olun</h5>
                        <p class="text-muted">Kampanyalardan ilk sizin haberiniz olsun.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email adresiniz">
                            <button class="btn btn-primary text-nowrap" type="button">Abone Olun</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top border-secondary">
                <p class="text-muted">© 2025 GÖTÜR</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="ms-3"><a class="text-muted" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="text-muted" href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</section>

