@using ETicaret.WebUI.ExtensionMethods
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/Img/resim.png" alt="" height="50" width="75" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i> Anasayfa
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-th-large"></i> Kategoriler
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            @await Component.InvokeAsync("Categories")
                        </ul>
                    </li>
                </ul>

                <form action="/Products" class="d-flex mx-auto" role="search">
                    <div class="input-group">
                        <input name="q" type="search" class="form-control" placeholder="Ürün Ara..." aria-label="Search">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

                <ul class="navbar-nav ms-auto">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i> Hesabım
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/Account/MyOrders"><i class="fas fa-shopping-bag"></i> Siparişlerim</a></li>
                                <li><a class="dropdown-item" href="/MyAdresses/Index"><i class="fas fa-map-marker-alt"></i> Adreslerim</a></li>
                                <li><a class="dropdown-item" href="/Account/Index"><i class="fas fa-user-cog"></i> Bilgilerim</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-danger" href="/Account/SignOut"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-sign-in-alt"></i> Giriş Yap
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/Account/SignIn"><i class="fas fa-sign-in-alt"></i> Giriş</a></li>
                                <li><a class="dropdown-item" href="/Account/SignUp"><i class="fas fa-user-plus"></i> Kayıt Ol</a></li>
                            </ul>
                        </li>
                    }

                    <li class="nav-item">
                        @{
                            var favorites = Context.Session.GetJson<List<Product>>("GetFavorites");
                            if (favorites != null && favorites.Count > 0)
                            {
                                <a class="nav-link position-relative" href="/Favorites">
                                    <i class="fas fa-heart"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        @favorites.Count
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a class="nav-link" href="/Favorites">
                                    <i class="fas fa-heart"></i>
                                </a>
                            }
                        }
                    </li>

                    <li class="nav-item">
                        @{
                            var cart = Context.Session.GetJson<ETicaret.Service.Concrete.CartService>("Cart");
                            if (cart != null && cart.CartLines.Count > 0)
                            {
                                <a class="nav-link position-relative" href="/Cart">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                                        @cart.CartLines.Count
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a class="nav-link" href="/Cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>