@model LoginViewModel

@{
    ViewData["Title"] = "Şifre Yenile";
}

<hr />
<div class="row">
    <div class="col-md-4 m-auto my-5">
        <h1>Şifre Yenileme</h1>
        <h6>Şifre yenileme bağlantısını gönderebilmemiz için e-posta adresinize ihtiyacımız var.</h6>
        <form asp-action="PasswordRenew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Email" class="control-label"></label>
                <input name="Email" class="form-control"  required/>


            <div class="form-group mt-2">
                <input type="submit" value="Şifremi Yenile" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>