@{
    ViewData["Title"] = "Şifre Yenile";
}

<hr />
<div class="row">
    <div class="col-md-4 m-auto my-5">
        <h1>Şifre Yenileme</h1>
        <h6>Şifreniz en az 10 karakter olmalı. 1 büyük harf, 1 küçük harf ve rakam içermelidir.</h6>
        <form asp-action="PasswordChange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="user" value="@Context.Request.Query["user"]"/>
            <div class="form-group">
                <label for="Password" class="control-label"></label>
                <input name="Password" class="form-control" type="password" required />


                <div class="form-group mt-2">
                    <input type="submit" value="Kaydet" class="btn btn-warning" />
                </div>
        </form>
    </div>
</div>