@model LoginViewModel

@{
    ViewData["Title"] = "Giriş";
}

<main class="form-signin w-100 m-auto shadow rounded my-5">
    <form asp-action="SignIn">
        @* <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> *@
        <h1 class="h3 mb-3 fw-normal">Üye Girişi</h1>
        @* Hata mesajlarını ekranda görmek için yaptık *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Email" class="form-control" id="floatingInput" placeholder="name@example.com" />
            <label for="floatingInput">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Şifre</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-check text-start my-3">
            <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Beni Hatırla
            </label>
        </div>
        @* Hesaptan çıkış yapıldıktan sonra giriş yaptığımızda çıkış yaptığımız sayfa üzerinden giriş yapar. *@
        <input type="hidden" asp-for="ReturnUrl" value="@Context.Request.Query["ReturnUrl"]" />
        <button class="btn btn-primary w-100 py-2" type="submit">Giriş Yap</button> 
    </form>
    <div class="row">
        <div class="col-5">
            <a href="/Account/SignUp" class="btn btn-warning w-100 py-2 mt-2">Üye Ol</a>
        </div>
        <div class="col-7">
            <a href="/Account/PasswordRenew" class="btn btn-danger w-100 py-2 mt-2">Şifremi Unuttum</a>
        </div>
    </div>
</main>
<hr />
<p class="alert alert-light alert-dismissible fade show">
    Sipariş Oluşturmak,Kampanyalardan Yararlanmak Ve Siparişlerinizi Takip Etmek İçin Lütfen Giriş Yapınız.
</p>

<style>
    html,
    body {
        height: 100%;
    }

    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

</style>