@model IEnumerable<Category>

@foreach (var anaKategori in Model.Where(x => x.ParentId == 0))
{
    <li>
        <a class="dropdown-item" asp-controller="Products" asp-action="Index" asp-route-categoryId="@anaKategori.Id">
            <i class="fas fa-folder"></i> @anaKategori.Name
        </a>
        @{
            var altKategoriler = Model.Where(x => x.ParentId == anaKategori.Id).ToList();
        }
        @if (altKategoriler.Any())
        {
            <ul class="dropdown-menu dropdown-submenu">
                @foreach (var altKategori in altKategoriler)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Index" asp-route-categoryId="@altKategori.Id">
                            <i class="fas fa-folder-open"></i> @altKategori.Name
                        </a>
                    </li>
                }
            </ul>
        }
    </li>
}

<style>
    .dropdown-submenu {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
    }

        .dropdown-item:hover + .dropdown-submenu,
        .dropdown-submenu:hover {
            display: block;
        }

    .dropdown-item {
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

        .dropdown-item i {
            width: 20px;
            text-align: center;
        }
</style>
